<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AleeButka</title>
    <link rel="shortcut icon" href="/img/popcorn.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClassWork08._12._2023MVCPatter.styles.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
         <div >
                <a class="navbar-brand" asp-area="" asp-controller="Movies" asp-action="Index">
                    <div id="btnHome">
                        <img src="/img/popcorn.png" id="popcornImg" alt="popcorn"/>
                        <h3>AleeButka</h3>
                    </div>
                </a>
            </div>
    </header>

        <main role="main" class="pb-3" >
            <section id="main">
                <div id="leftSide"><img src="/img/leftImg.jpg" alt="Alicenta"/></div>
            <div id="mainBody">
                @RenderBody()
            </div>
            <div id="rightSide"><img src="/img/rightImg.jpg" alt="Rhaenyra" /></div>
            </section>
        </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
