@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Rubik+Bubbles&display=swap');



*{
    margin: 0px;
    padding: 0px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*////////// HEADER ////////////*/

#header{
    width:100%;
    background: black;
    text-align: left;
    display: flex;
}
#header div {
    width: 10%;
    margin: 15px 0px 0px 60px;
    text-align: left;
}

#btnHome {
    display: flex;
    justify-content: center;
}

    #btnHome img {
        height: 35px;
        width: 35px;
    }

    #btnHome h3 {
        padding-top: 5px;
        color: white;
        font-family: Tahoma, Verdana, sans-serif;
    }

#HeadMenu ul{
    margin: 17px 0px 0px 0px;
}

#HeadMenu ul{
    list-style: none;
    color: white;
    display: flex;
}


#HeadMenu ul li a {
    color: white;    
    text-decoration: none;
}

    
#HeadMenu ul li a:hover {
    color: #a9350f;
}


/*/////////// BODY /////////////*/
#main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

body {
    background: black;
}

#leftSide, #rightSide {
    background: black;
}

#leftSide img, #rightSide img {
    width: 350px;
    height: 600px;
}

#mainBody {
    flex-basis: 75%;
    background: #2b2b2b;
    border: 1px solid gray;
    border-radius: 10px;
}

#movie a{
    text-decoration: none;
}


#movie a h2 {
    color: white;
    font-size: 30px;
    margin: 20px 0px 0px 50px;
}

   
#movie a h2:hover {
        color: #a9350f;
}


#aboutMovie {
    display: flex;
    justify-content: center;
}

#aboutMovie div a img{
    width: 250px;
    height: 350px;
    border: 2px solid black;
    margin: 20px;
    margin-left: 50px;
    cursor: pointer;
}


#aboutMovie div ul{
    margin-top: 20px;
    list-style: none;
    width: 550px;
}

#aboutMovie div ul li div{
    display: flex;
    justify-content: flex-start;
    color: white;
}

#aboutMovie div ul li div h4{
    font-size: 20px;
    padding: 0px 10px 0px 0px;
}

#aboutMovie div ul li div p {
    font-size: 16px;
    flex-wrap: wrap;
}
    
#aboutMovie div ul li:nth-child(3) p {
   width: 350px;
}

#aboutMovie div ul li:nth-child(4) p{
    width: 450px;
    height: 150px;
    overflow: hidden;
}


/*/////////// Информация о фильме детально ///////////*/

#movieDetails{
    color: white;
    margin: 25px 0px 0px 65px;
}

#aboutMovieDetails {
    display: flex;
    justify-content: center;
}

 
#aboutMovieDetails div img,#MovieAdd div img {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    margin: 20px;
    margin-left: 50px;
}
    
#aboutMovieDetails div ul {
    margin-top: 20px;
    list-style: none;
    width: 550px;
}

#aboutMovieDetails div ul li div {
    display: flex;
    justify-content: flex-start;
    color: white;
}

#aboutMovieDetails div ul li div h4 {
    font-size: 20px;
    padding: 0px 10px 0px 0px;
}

#aboutMovieDetails div ul li div p {
    font-size: 16px;
    flex-wrap: wrap;
}

#aboutMovieDetails div ul li:nth-child(4) p{
    width: 400px;
}

#aboutMovieDetails div ul li:nth-child(5) p {
    width: 400px;
}

#DescriptionsDetails h4 {
    font-size: 20px;
    color: white;
}

#DescriptionsDetails {
    width: 800px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2%;
    margin: auto;
}

#DescriptionsDetails p {
   color: white;
}

#BackHome{
    margin: 20px 0px 20px 50px;
    text-align:right;
}

#BackHome a, #BackHomeEdit a, #DelMovie a:nth-child(2), #DelMovie input{
    color: white;
    text-decoration: none;
}

#BackHome a:nth-child(1), #BackHomeEdit a, #DelMovie a:nth-child(2){
    width: 130px;
    padding: 8px;
    background: #2ea745;
    border-radius: 10px;
    margin: 0px 10px 0px 0px;
}

#BackHome a:nth-child(1):hover, #BackHomeEdit a:hover, #DelMovie a:nth-child(2):hover{
    background: #267235;
    transition: 0.4s;
}

#BackHome a:nth-child(2), #DelMovie input{
    width: 130px;
    padding: 8px;
    background: #b23623;
    border-radius: 10px;
    margin: 0px 50px 0px 0px;
}

#BackHome a:nth-child(2):hover, #DelMovie input:hover{
    background: #6d291e;
    transition: 0.4s;
}

/*/////////////// Добавить/Изменить Фильм ////////////////*/

#TitleCreate{
    text-align: center;
    color: white;
    font-size: 30px;
    margin: 2%;
}

#MovieAdd{
    color: white;
    width: 80%;
    margin: auto;
}

#MovieAdd form{
    display: flex;
    justify-content: space-evenly;    
    margin: auto;
}



#MovieAdd div form input{
    width: 250px;
}

#MovieAdd div form div:nth-child(8){
    margin: 10px 0px 0px 0px;
}

#PosterInputAndFile{
    display: flex;
    width: 260px;
}

#PosterInputAndFile input:nth-child(2) {
    width:90px;
     margin: 10px 0px 0px 0px;
     border: 0px;
}

#AddMovieBtn {
    margin: 30px 0px 0px 170px;
    width: 100px;
    background: #0d6efd;
    border-radius: 5px;
    padding: 1%;
    border: 0px;
    color: white;
}

#AddMovieBtn:hover, #AddPosterbtn {
    background: #1a57b2;
    transition: 0.4s;
}

#MovieAdd div img {
    margin: 30px 0px 0px 30px;
}

#AddPosterbtn {
    margin: 10px 0px 0px 40px;
    width: 120px;
    border: 0px;
    color: white;
    background: #0d6efd;
    border-radius: 5px;
    padding: 1%;
}


#MovieAdd div:nth-child(2){
    width: 250px;
}

#PosterInput{
    height: 0px;
    visibility: hidden;
}

#BackHomeEdit {
    margin: 20px 0px 20px 50px;
    text-align: left;
}

/*////////////////// Удалить фильм  /////////////////*/
#h3Delete {
    text-align: center;
    color: white;
    margin: 80px 0px 0px 0px;
}

#h5Delete {
    text-align: center;
    color: #d30707;
    margin: 20px 0px 0px 0px;
}

#DelMovie{
    margin: auto;
    width: 200px;
}

#DelMovie form{
    margin: 50px 0px 0px 0px;
    display:flex;
}

 #DelMovie input{
     border: 0px;
 }


/* ////////////////  EROR 404 /////////////////*/


#bodyEror img{
    width: 100%;
    height: 100vh;
    position: relative;
    
}

