@model ClassWork08._12._2023MVCPatter.Models.Movie

@{
    ViewData["Title"] = "Delete";
}


<h3 id="h3Delete">Вы действительно хотите удалить @Model.Title?</h3>
<h5 id="h5Delete">После подтверждения востановить данные будет не возможно!</h5>

<div id="DelMovie">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Details" asp-route-id="@Model.Id">Отмена</a>
        <input type="submit" value="Удалить" /> 
    </form>
</div>
